Dave Reed <dareed@microsoft.com>
Stephen Walther <Swalther@Microsoft.com>
John Resig <jeresig@gmail.com>
Jörn Zaefferer <joern.zaefferer@gmail.com>
Boris Moore <BorisMoore@gmail.com>
Richard D. Worth <rdworth@gmail.com>
Fredrik Blomqvist <fblomqvist@gmail.com>
Andreas Blixt <me@blixt.org>
Riku Nieminen <rikunieminen@gmail.com>
Ed Sanders <ejsanders@gmail.com>
